#header {
    background-color: #91DDCF;
    color: #FFF5E4;
    padding: 40px;
    text-align: center;
}

#primoContainer {
    display: flex;
    flex-direction: row;
}
.container2 {
    display: flex;
    flex-direction: column;
}
#sezioneContatti {
    background-color: #C7FFD8;
    justify-content: flex-end;
}

#secondoContainer {
    background-color: #FFF5E4;
    display: flex;
    flex-direction: column;
}

#terzoContainer {
    display: flex;
    flex-direction: row;
}



